.App {
  text-align: center;
}

.logForm{
  margin: 80px;
  font-size: 25px;
  max-width: 800px;
  min-width: 600px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  left: 25%;
  right: 25%;
  position:absolute;
  box-sizing: border-box;
  padding: 50px 50px;
}

.logForm button {
  margin: 40px;
  background-color: rgb(240, 219, 182);
  font-style: italic;
  border-radius: 5px;
  font-size: 19px;
}


.signUp{
  margin-top: 60px;
  min-height: 400px;
  border-radius: 25px;
  background-color:aqua;
  border: solid 1px rgb(48, 41, 41);
}

.signUp h1{
  padding: 30px;
}

.signUp input{
  font-size: 17px;
  font-style: italic;
  margin-left: 10px;
}

.logIn{
  min-height: 400px;
	justify-content: center;
  border-radius: 25px;
  background-color:aqua;
  border: solid 1px rgb(48, 41, 41);
}

.logIn h1{
  padding: 30px;
}

.logIn input{
  font-size: 17px;
  font-style: italic;
  margin-left: 10px;
}

.navigations{
  min-height: 50px;
  min-width: 1100px;
  background-color: rgb(97, 63, 54);
}

.setHome {
  float: left;
  margin-left: 20px;
  font-size: 30px;
  color:white;
}

.setOrd{
  margin-top:15px;
  margin-right: 20px;
  float: right;
  font-size: 15px;
  color:white;
}


