.bodyElements{
    margin-top: 0px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgb(223, 216, 210);
}

.bodyElement{
    margin-top: 0px;
    border: 0.01px solid ;
    border-color: brown ;
}